---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matt Miller">
  <div class="max-w-screen-md w-full mx-auto p-5 mt-8 text-center">
    <h1 class="text-4xl mb-16" id="name_title">Hi, I'm Matt 👋</h1>

    <p class="text-2xl mb-8">
      I'm a Senior Contract Developer, helping you build the right product the
      right way. I've spent a decade crafting digital products and experiences
      that people love.
    </p>
    <a href="mailto:matt@m11r.dev">
      <button
        class="not-prose bg-pink text-black text-2xl py-2 px-4 rounded hover:transform hover:scale-105 transition-all duration-300"
      >
        Let's Talk
      </button>
    </a>
    <p class="text-2xl mb-8">
      Based in Suffolk, I provide that local touch that a faceless consulting
      firm or online freelancer can't. Lets take your ideas and turn them into
      powerful digital tools that actually work and stand the test of time.
    </p>
  </div>
</Layout>
