---
import Container from "@/components/Container/index.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title={"Blog"}>
  <Container section>
    <div class="flex flex-col w-full">
      <h2>Case Studies</h2>
      <p>
        Here are some case studies of work I've done for clients. I can't share
        everything due to NDAs but these are a few highlights.
      </p>
    </div>
  </Container>
</Layout>
